@font-face {
    font-family: 'quentin';
    src: url('https://sincerely-yrs.github.io/fonts/R/R.woff2') format('woff2'),
         url('https://sincerely-yrs.github.io/fonts/R/R.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


