@font-face {
    font-family: 'quentinregular';
    src: url('quentin-webfont.woff2') format('woff2'),
         url('quentin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}